$button-color-next-page: #00E1FF;

.answer-container {
  margin-top: 30px;
  padding: 0 6%;
  display: grid;
  grid-template-columns: 800px 800px;
  grid-template-rows: auto;
  grid-template-areas: "positionA positionB"   
}

.positionA {
  grid-area: positionA;
}

.positionB {
  grid-area: positionB;
}

.card-flag {
  padding: 2% 31%;
  width: 700px;
}

h6 {
  background-color: $button-color-next-page;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 34px;
  margin: 40px auto;
  padding: 25px 0;
  text-align: center;
  width: 70%;
}