.start-container {
  background-image: url('https://wallpaperaccess.com/full/1109914.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  margin: 0;
}

.start-content {
  background: white;
}