.choose-region-main {
  text-align: center;
}

.choose-region-heading {
  font-size: 100px;
}

.region {
  cursor: pointer;
  margin: 0 30px;
  width: 150px;
}

.region-button-container {
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
}

.region-img-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}